# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/8.0/en/server-configuration-defaults.html

[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove the leading "# " to disable binary logging
# Binary logging captures changes between backups and is enabled by
# default. It's default setting is log_bin=binlog
# disable_log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
#
# Remove leading # to revert to previous value for default_authentication_plugin,
# this will increase compatibility with older clients. For background, see:
# https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_default_authentication_plugin
# default-authentication-plugin=mysql_native_password

datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

# [mysqld]

# === Required Settings ===

# datadir=/var/lib/mysql
# socket=/var/lib/mysql/mysql.sock

# log-error=/var/log/mysqld.log
# pid-file=/var/run/mysqld/mysqld.pid

# === Error & Slow Query Logging ===

# log-error=/var/log/mysqld.log
log_queries_not_using_indexes=0 # Disabled on production
long_query_time=5
slow_query_log=0 # Disabled on production
slow_query_log_file=/var/lib/mysql/mysql_slow.log

tmpdir=/tmp # Defaults
port=3306 # Defaults
# require_secure_transport = ON  # Require SSL connection
bind-address=127.0.0.1 # Change to 0.0.0.0 to allow remote connections

max_allowed_packet=256M # drupal requirements - 256M and > (error - "Packet too large")
max_connect_errors=1000000

skip_external_locking
# skip_name_resolve  # если она указана, то обращение к mysql будет только по именам

# === InnoDB Settings ===

default_storage_engine=InnoDB
innodb_buffer_pool_size=256M # Use up to 50-80% of RAM
innodb_buffer_pool_instances=1 # Use 1 instance per 1GB of InnoDB pool size - max is 64
innodb_file_per_table=1 # drupal requirements
innodb_flush_log_at_trx_commit=0 # drupal requirements. 0 - fastest but not reliable, 1 - slower but very reliable
innodb_flush_method=O_DIRECT
innodb_log_buffer_size=16M
innodb_log_file_size=64M # drupal requirements
innodb_sort_buffer_size= 4M # Defines how much data is read into memory for sorting operations before writing to disk (default is 1M / max is 64M)
innodb_stats_on_metadata=0
innodb_use_fdatasync=1 # Only (!) for MySQL v8.0.26+ # mysql --version

# === MyISAM Settings ===

key_buffer_size=24M   # UPD
low_priority_updates=1
concurrent_insert=2

# === Connection Settings ===

max_connections=100 # UPD - Important: high no. of connections = high RAM consumption
thread_cache_size=100
back_log=512
thread_stack=192K
interactive_timeout=300
wait_timeout=300

# === Buffer Settings === Careful RAM usage. Change this variables with some database diagnostics tools

join_buffer_size=4M # UPD
read_buffer_size=3M # UPD
read_rnd_buffer_size=4M # UPD
sort_buffer_size=4M # UPD


# === Table Settings ===

# open_files_limit=10000 # Default. Warning if error - "Too many open files". This can be 2x to 3x the table_open_cache value
# table_open_cache=4000 # Default.
# table_definition_cache=2000 # Default
max_heap_table_size=128M  # Increase to 256M or 512M if you have lots of temporary tables because of missing indices in JOINs
tmp_table_size=128M  # Use same value as max_heap_table_size

# === Search Settings ===

ft_min_word_len=3 # Minimum length of words to be indexed for search results


# === Binary Logging ===

disable_log_bin=1 # Binary logging disabled by default
# log_bin # To enable binary logging, uncomment this line. Remember to comment out the line with "disable_log_bin"
# binlog_expire_logs_seconds=86400 # Keep logs for 1 day (in seconds)


[mysqldump]
quick
quote_names
max_allowed_packet=1024M


[mysql]
port=3306
socket=/var/lib/mysql/mysql.sock

